.app.home {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  // position: fixed;
  // left: 0;
  // right: 0;
  // top: 0;
  // bottom: 0;
  // overflow-y: scroll;

  main {
    display: flex;
    flex-direction: column;
    padding: 0 1.25em;
    justify-content: flex-start;
  }

  .search__input {
    padding: 0.4em 0.8em;
    width: 100%;
    border-radius: 2px;
    background-color: $dark-grey;
    color: rgba($white, 0.6);
  }
}
