.lyric-item {
  display: flex;
  align-items: center;
  background-color: $light-grey;
  border-radius: 3px;
  padding: 1em;
  margin: 0 0 1em 0;
  cursor: pointer;

  &:hover {
    background-color: rgba($light-grey, 0.5);
  }
}

.lyric-item__title {
  @include fontSize(1.2);
  font-family: $lora, "Times New Roman", Times, serif;
  font-weight: 700;
  color: rgba($white, 0.55);
}
