.lyric-item {
  display: flex;
  align-items: center;
  background-color: $light-grey;
  border-radius: 3px;
  padding: 1em;
  margin: 0 0 1em 0;
  cursor: pointer;

  &:hover {
    background-color: rgba($light-grey, 0.5);
  }
}

.lyric-item__title {
  font-size: 1.2rem;
  color: $white;
}
