@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,700|Satisfy&display=swap");

/* colours */
$black: #000000;
$white: #ffffff;
$dark-grey: #292c37;
$light-grey: #363a49;
$red: #ff4242;

/* fonts */
$satisfy: "Satisfy", cursive;
$lora: "Lora", serif;
$opensans: "Open Sans", sans-serif;
