@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

/* colours */
$white: #ffffff;
$dark-grey: #292c37;
$light-grey: #363a49;
$red: #ff4242;

/* fonts */
$satisfy: "Satisfy", cursive;
