@import "./reset";
@import "./mixins";
@import "./variables";
@import "./lyrics-list";

html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: $dark-grey;
  padding: 1.25em;
}

header {
  margin: 0 0 1em 0;
}

.logo__text {
  @include fontSize(2.5);
  font-family: $satisfy;
  color: $white;
  font-weight: 100;
}

.logo__letter {
  @include fontSize(2.5);
  font-family: $satisfy;
  color: $red;
  font-weight: 100;
}

.search {
  background-color: $light-grey;
  padding: 1.2em;
  border-radius: 2px;
}

.search__input {
  padding: 0.4em 0.8em;
  width: 100%;
  border-radius: 2px;
  background-color: $dark-grey;
  color: rgba($white, 0.6);
}

.bb-p {
  color: $white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quote {
  margin: 0 0 1em 0;
}

.quote__text {
  color: rgba($white, 0.85);
  @include fontSize(1.2);
  font-family: $lora;
  margin: 0 0 1em 0;
}

.quote__author {
  color: $red;
  font-family: $opensans;
  @include fontSize(1.2);
  font-weight: 700;
}

.artist__result {
  display: flex;
  align-items: center;
  background-color: $light-grey;
  border-radius: 3px;
  padding: 1em;
  margin: 0 0 1em 0;
  cursor: pointer;

  &:hover {
    background-color: rgba($light-grey, 0.5);
  }
}

.artist__name {
  font-size: 1.2rem;
  color: $white;
}

.artist__image {
  border-radius: 50%;
  border: 2px solid white;
  width: 50px;
  margin: 0 1em 0 0;
}

.lyric__body {
  color: $white;
  white-space: pre-wrap;
}
