@import "./reset";
@import "./mixins";
@import "./variables";
@import "./search";
@import "./artist";
@import "./lyrics-list";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $dark-grey;
  position: fixed;
}

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

header {
  margin: 0 0 1em 0;
  padding: 1.25em 1.25em 0 1.25em;
}

.logo__text {
  display: inline;
  @include fontSize(2.5);
  font-family: $satisfy;
  color: $white;
  font-weight: 100;

  &:focus {
    outline: none;
  }
}

.logo__letter {
  @include fontSize(2.5);
  font-family: $satisfy;
  color: $red;
  font-weight: 100;
}

.bb-p {
  color: $white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.25em 8em 1.25em;
}

main.search-results {
  justify-content: end;
  margin-bottom: 79px;
}

.quote {
  margin: 0 0 1em 0;
}

.quote__text {
  color: rgba($white, 0.85);
  @include fontSize(1.2);
  font-family: $lora;
  margin: 0 0 1em 0;
}

.quote__author {
  color: $red;
  font-family: $opensans;
  @include fontSize(1.2);
  font-weight: 700;
}

.lyric__body {
  color: rgba($white, 0.65);
  white-space: pre-wrap;
  font-family: $lora;
  @include fontSize(1);
  font-weight: 700;
}

.card {
  background: $light-grey;
  border-radius: 3px;
}

.artist-card {
  display: flex;
  align-items: center;
  padding: 17px;
  margin: 0 0 20px 0;
}

.artist-card__image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px inset rgba($black, 0.6);
  margin: 0 20px 0 0;
}

.artist-card__name {
  @include fontSize(1.375);
  font-family: $opensans, arial, sans-serif;
  font-weight: 700;
  color: rgba($white, 0.7);
}
